/* Body */
body {
    width: 100%;
    margin: 0px;
    text-align: start;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card {
    width: 100%;
    height: 100%;
}

h2 {
    width: 65%;
    color: #585858a1;
    margin: 0;
    font-family: 'Aclonica', sans-serif;
    font-size: 30px;
}

p {
    width: 65%;
    color: #B69932;
    margin: 0;
    padding-top: 20px;
    font-family: 'Sono', sans-serif;
    text-align: justify;
}

/* Header */
.header {
    background-image: url(./assets/images/Background/Hero\ Background\ Dark.png);
    display: flex;
    height: 50px;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.header-card {
    width: 200px;
    margin: 0px 10px;
    text-align: center;
    flex: 1;
}

.header-card1 {
  flex: 4;
}

.header-card > h3 {
    width: 60%;
    margin: 0;
    color: #B69932;
    font-variant: small-caps;
    font-size: 25px;
    text-align: start;
    position: relative;
    left: 150px;
    font-weight: 100;
    font-family: 'Sono', sans-serif;
}

.header-card > a button {
    color: #B69932;
    font-size: 14px;
    background-color: #ffeba200;
    border: 0;
    font-weight: 750;
    text-transform: uppercase;
}

/* Hero */
.title {
    background-image: url(./assets/images/Background/Hero\ Background.png);
    height: 550px;
    color: #B69932;
    text-align: center;
}

.title > h1 {
    color: white;
    font-size: 80px;
    font-variant: small-caps;
    margin: 0;
    width: 65%;
    position: relative;
    top: 20%;
    left: 18%;
    text-align: start;
    font-style: normal;
    font-weight: 400;
    font-family: 'Aclonica', sans-serif;
}

/* Showcase */
.showcase {
    margin: 50px 0;
    background-color: #07162ef1;
}

.showcase-grid {
    width: 100%;
    padding: 40px 0;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 49%);
    grid-template-rows: repeat(2, 49%);
    gap: 2%;
}

.showcase-card {
    margin: 2%;
    padding: 2%;
}

.showcase-card > h2 {
    color: white;
    width: 100%;
    margin-bottom: 2%;
}

.showcase-card img {
    width: 90%;
    height: 90%;
}

.showcase-img {
    height: 500px; 
    border: double 5px #B69932;
    padding: 4px;
    margin: 20px 0;
}

.showcase-card > p {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0;
    margin: 10px 0;
}

.showcase-card > a {
    padding: 10px 0;
   
}

.showcase-card > a button {
    width: 100%; 
    margin: 10px 0;
    font-family: 'Aclonica', sans-serif;
    text-transform: uppercase;
    background-color: #c2a84cb4;
}

/* Footer */
.footer {
    margin-top: 40px;
    height: 50px;
    display: inline-flex;
    color: #b6993291;
    background-image: url(./assets/images/Background/Hero\ Background.png);
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.footer-card {
    width: 200px;
    flex-basis: 200px;
    color: #fff1bf;
}

.copyright {
    width: 100%;
    padding: 0;
    flex-basis: 200px;
    color: #d8b844a8;
}

@media (max-width: 850px) {
    /* Body */
    body {
        width: 100%;
        margin: 0;
        text-align: start;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 100%;
        height: 100%;
    }

    h2 {
        width: 65%;
        color: #585858a1;
        margin: 0;
        font-family: 'Aclonica', sans-serif;
        font-size: 30px;
    }

    p {
        width: 65%;
        color: #B69932;
        margin: 0;
        padding-top: 20px;
        font-family: 'Sono', sans-serif;
    }

    /* Header */
    .header {
        background-image: url(./assets/images/Background/Hero\ Background\ Dark.png);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px 0;
        position: relative;
        
    }

    .header-card {
        width: 100%;
        margin: 0px 10px;
        text-align: center;
        flex: 1;
        padding: 5px 0;
    }

    .header-card1 {
        flex: 2;
    }

    .header-card > h3 {
        margin: 0;
        color: #ffffff;
        font-variant: small-caps;
        font-size: 25px;
        font-family: 'Sono', sans-serif;
        text-align: center;
        position: relative;
        left: 0%;
    }

    .header-card > a button {
        color: #B69932;
        font-size: 12px;
        background-color: #ffeba200;
        font-weight: 650;
        text-transform: uppercase;
    }

    /* Hero */
    .title {
        background-image: url(./assets/images/Background/Hero\ Background.png);
        width: 100%;
        height: 450px;
        color: #B69932;
    }

    .title > h1 {
        color: white;
        font-size: 50px;
        font-variant: small-caps;
        margin: 0;
        width: 100%;
        position: relative;
        top: 20%;
        left: 0;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-family: 'Aclonica', sans-serif;
        padding: 20px 0;
    }

    /* Footer */
    .footer {
        padding-top: 20px;
        margin-top: 40px;
        height: 100%;
        display: inline-flex;
        flex-direction: column;
        color: #b6993291;
        background-image: url(./assets/images/Background/Hero\ Background.png);
    }

    .footer-card {
        width: 100%;
        flex-basis: 40px;
        color: #fff1bf;
    }

    .copyright {
        width: 100%;
        padding: 0;
        flex-basis: 40px;
        color: #d8b844a8;
        text-align: center;
    }
}

@media (max-width: 1100px) {
    /* Showcase */
    .showcase {
        margin-top: 40px;
        background-color: #07162ef1;
    }

    .showcase-grid {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
    }

    .showcase-card > h2 {
        color: white;
        text-align: center;
    }

    .showcase-card img {
        width: 100%;
        height: 100%;
    }
    
    .showcase-img {
        height: 100%; 
        border: double 5px #B69932;
        padding: 4px;
        margin: 20px 0;
    }

    .showcase-card > p {
        width: 100%;
        font-size: 18px;
        text-align: center;
    }

    .showcase-card > a button {
        margin-top: 20px;
        padding: 5px;
        width: 100%;
        text-transform: uppercase;
        background-color: #c2a84cb4;
    }
}
